body{ background: #fff;}
.bargain-top{
    position: relative;
    width:100%;
    overflow: hidden; 
}   
   .bidprice-advert img{ width:100%; height:2.5rem;}
   .infinite-scroll-preloader{margin:.3rem;text-align:center}
   .infinite-scroll-preloader .preloader{width:0.65rem;height:0.65rem; margin:0 auto;}
   .preloader:after{
       display:block;
       width:100%;
       height:100%;
       content:"";background-image:url(http://zxyp.hzbixin.cn/files/99461600424422980.jpg);
       background-repeat:no-repeat;
       background-size:100%;
}
/**竞拍进场列表**/
.bidprice-list{
 
   width:100%;
   border: 1px solid #e6e6e6;
}
.bidprice-list a{
   /*padding:0.1rem 0 0;*/
   width:100%;
   height:100%;
   display:inline-block;
}
.bidprice-list figure img{
   width:100%; height:2.5rem;
}
.bidprice-list .ifon-name{ padding:0.2rem;}
.getinto{
   text-decoration:underline; cursor:pointer;
   color:#00b8ee;
}

/**竞拍商品列表**/
.beat-time{
    border-top:1px solid #e6e6e6; 
    border-bottom:1px solid #e6e6e6;
    padding:0.15rem 0.3rem;
    width:100%;
    display: flex; 

}
.beat-time em{ font-style: normal; font-size:0.34rem; font-weight:600; text-align: center;}
.beat-time-title{ margin-right:0.5rem; }
.beat-time-data span{ 
 font-size:0.30rem; 
 background:#f00;
 padding:0.04rem 0.06rem;
 text-align: center;
 color:#fff; 
 border-radius:4px; 
 font-weight:600;
}
.beat-time-data em{ margin:0 0.2rem;}

.beat-list .link{
    padding:0.15rem 0.06rem 0.1rem 0.06rem;
    border-bottom:1px solid #e6e6e6;
    width:100%;
    display:inline-block;
    overflow: hidden;
}
.beat-list .list-left{
    float: left;
    width:2.3rem;
    width:2.1rem;
    text-align: center;
}
.beat-list .list-left img{
    width:90%;
    height:100%;    
}
.beat-list .list-right{
    position: relative;
    float: left;
    margin-left:0.3rem;
    width:4.7rem; 
}
.beat-list .ware-title{
    font-size:0.26rem;
    margin-bottom:0.15rem; 
}
.beat-list .ware-spec{
    font-size:0.22rem;
    color:#aaaaaa;
}
.beat-list .list-right p{
    font-size:0.22rem;
    margin-bottom:0.08rem; 
}
.beat-list .list-right .red{
    color:#f00;
}
.beat-list .list-right .Space{
    height:0.4rem;
}
.bidding_btn{
    display:inline-block;
    width: 1.8rem;
    height: 0.5rem;
    position: absolute;
    bottom:0.04rem;
    right:0;
    z-index:11; 
}
.bidding_btn img{
    width:100%;
    height:100%;  
}
.beat-main{
    width:100%;
    position: relative;
    overflow: hidden; 
}