
body{
    background-color: #f1f1f1;
}
.top{
    width: 100%;
    height:70px;
    background: url(http://zxyp.hzbixin.cn/files/58721600419478321.jpg) 0 0 no-repeat;
    position: relative;
    background-size: 100% 90px;
}
.top-1{
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    top: 20%;
    left: 5%;
}
.top-2{
    width: 10.7%;
    height: 33px;
    position: absolute;
    right:5%; 
    top: 18px;
}
.middle{
    height:60px;
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-bottom: 8px;
}
.middle>.middle-3{
    position: absolute;
    height: 13px;
    left: 9.5%;
    top: 14.5px;
    color: #414141;
    line-height: 13px;
}
.middle>p>span{
    color: #414141;
    font-size: 12px;
}
.middle-1{

    position: absolute;
    height: 10px;
    color: #414141;
    font-size: 12px;
    left: 73.5%;
    top: 15.5px;
}
.middle-2{
    position: absolute;
    width: 85.2%;
    left: 9.5%;
    top: 40px;
    line-height: 15px;

}
.middle>img{
    position: absolute;
    height: 15px;
    width: 3.5%;
    left: 3%;
    top: 37.5px;

}
.storename{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
}
.storename img{
    width: 20px;
    height: 20px;
}
.storename-img1 img{
    position: absolute;
    width: 17px;
    top: 10px;
    left: 15px;
}
.storename-img2 img{
    position: absolute;
    width: 8px;
    top: 12px;
    height: 14px;
    left: 108px;
}
.storename p{
    position: absolute;
    width: auto;
    height: auto;
    line-height: 12.5px;
    color: #414141;
    left: 39px;
    top: 14px;
    font-size: 13px;
}

.storename span{
    font-size: 13px;
    color: #ff0600;
    position: absolute;
    top: 11px;
    right: 15px;
}
.list{
    position: relative;
    width: 100%;
    height: 152.5px;
    background-color: #f8f8f8;
}
.white{
    width: 100%;
 height: 3px;
    background-color: white;
}
.list>img{
    position: absolute;
    width: 24%;
    height: 90px;
    left: 4%;
    top: 10px;
}
.list>.list_name{
    position: absolute;
    font-weight: normal;
    font-stretch: normal;
    width: 66.1%;
    height: auto;
    line-height: 17px;
    letter-spacing: 0px;
    font-family: PingFang-SC-Medium;
    left: 30.6%;
    top: 14px;
    font-size: 14px;
}
.listSpecifications{
    position: absolute;
    font-size:12px;
    font-weight: normal;
    line-height: 11.5px;
    letter-spacing: 0px;
    color: #bfbfbf;
    left: 30.8%;
    top: 59.5px;
}
.listPrice {
    position: absolute;
    left: 30.9%;
    top: 83.5px;
    font-family: PingFang-SC-Medium;
    font-weight: normal;
    line-height: 11.5px;
    letter-spacing: 0px;
    color: #ff0000;
}

.listgoods-1{

}
.tr{ text-align:right}
.listgoods-size2{
    position: absolute;
    top: 70px;
    left: 120px;
    font-size: 13px;
    width:69%;
    z-index:9;
}
.listgoods-money2{
    position: absolute;
    top: 92px;
    right:10px;
    font-size: 13px;
    color: #d2be4a;
    width:100%;
    z-index:9;
}

.ci{ color:#a2a2a2; font-size:13px; }
.listgoods-list{
    padding: 17px 5px 15px 15px;
    position: relative;
}


.listgoods-list img{
    width: 90px;
    height: 90px;

}
.listgoods-name{
    position: absolute;
    width: 70%;
    top: 21px;
    left: 120px;
    font-size: 14px;
    padding-right: 2%;
}
.listgoods-size{
    position: absolute;
    top: 70px;
    left: 120px;
    color: #bfbfbf;
    font-size: 12px;
}
.listgoods-money{
    position: absolute;
    top: 92px;
    left: 120px;
    font-size: 15px;
    color: #ff0000;
    width: 55%;
}

.listgoods-refund{
    width: 100%;
    height: 50px;
    position: relative;
}
.listgoods-3{
    font-size: 11px;
    color: #bfbfbf;
    position: absolute;
    right: 0;
}
.listgoods-btn{
    background-color: #ffffff;
    border-radius: 8px;
    border: solid 1px #414141;
    height: 25px;
    width: 75px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 24px;
    padding-top: 3px;
}

.listgoods-btn span{

}

.background-null{
    height: 3px;
    background-color: #ffffff;
}
.listamount{
    position: absolute;
    color: #bfbfbf;
    left: 93%;
    top: 85px;
    line-height: 8px;
}
.listrefund{
    position: absolute;
    display: block;
    width: 20%;
    height: 25px;
    color: #414141;
    border-radius: 8px;
    border: solid 1px #414141;
    background-color: #ffffff;
    font-family: PingFang-SC-Medium;
    line-height: 25px;
    text-align: center;
    left: 75.9%;
    top: 120px;
    font-size: 10px;
}
.total{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.total-1{
    color: #ff0000;;
}

.total_goods{
    line-height: 12.5px;
    color: #414141;
}
.totalPrice{

    line-height: 12.5px;
    color:#414141 ;
    white-space:nowrap;
}
.total_Price{
    color: #ff0000 ;

}
.total-Price{
    color: #ff0000 ;
}
.lat{
    margin-bottom:7px; 
}
.remarks{
    width: 100%;
    height: 35px;
    margin-top:8px;
    background-color: #fff;
}
.remarks>p{

    background-color: #ffffff;
    line-height: 12.5px;
    margin-left: 4%;
    padding-top: 14px;
}
.orderNum{
    margin: 10px 0;
    width: 100%;
    background-color: #fff;
    padding:4px 4%;
}
.orderNum-1,.orderNum-2{
    line-height: 11.5px;
    color: #414141;
    margin-bottom:5px;   
}

.calculation{
    width: 100%;
    height: 86px;
    position: relative;
    background-color: #fff;

}
.calculation>span:nth-child(1){
    position: absolute;
    left: 4%;
    top: 13px;
    line-height: 13px;
}
.calculation>span:nth-child(2){
    position: absolute;
    right:4%;
    top: 14px;
    line-height: 11px;
    color:#ff0000;
}
.calculation>span:nth-child(3){
    position: absolute;
    left: 4%;
    top: 39.5px;
    line-height: 13px;
}
.calculation>span:nth-child(4){
    position: absolute;
    line-height: 13px;
    right:4%;
    top: 40px;
    color:#ff0000;
}
.calculation>span:nth-child(5){
    position: absolute;
    left: 4%;
    top: 66.5px;
    line-height: 13px;
}
.calculation>span:nth-child(6){
    position: absolute;
    right:4%;
    top: 68.5px;
    line-height: 13px;
    color:#ff0000;
}
.end{
    border-top: 1px solid#e6e6e6;
    width: 100%;
    height: 35px;
    line-height:35px; 
    text-align: right;
    padding:0 4%; 
    background-color: #fff;
    font-size:15px; 
}
.end span{
    color: #ff0000;
}
.refund .reason{


    width: 100%;
    height: 45px;

    border-bottom: 1px solid #f1f1f1;
    background: url("http://zxyp.hzbixin.cn/files/87991600419513637.jpg") no-repeat #fff 96.6% 15px;
    background-size: 4% 15px;
    line-height: 45px;
    font-size: 14px;
    color: #414141;
    font-family: PingFang-SC-Medium;
    text-align: center;
    cursor: pointer;

}
.ggb{
    display: inline-block;
    height: 45px;
    width: 12%;

    float: right;
}


.detail-1{
    background-color: #fff;
    height: 168px;
}
.refund .details{
    width: 100%;
    height: 305px;

}
.detail-1 .quan-1{
    height: 24px;
    font-family: PingFang-SC-Medium;
    color: #414141;
    font-size: 13px;
    padding-left: 4%;
    background-color: #fff;
    padding-top: 10px;
    width:100%; 
}
.detail-1 .quan{

    display: inline-block;
    width: 5.333333%;
    height: 20px;
    border: solid 2px #aaaaaa;
    border-radius: 50%;



}


.quan-1 p{
    height: 24px;

    display: inline-block;
    line-height: 24px;
    position: relative;
    top: -5px;
    margin-left: 4%;

}
.detail-1 .quan-1:nth-child(2){
    margin-top: 16px;
}
.detail-1 .quan-1:nth-child(3){
    margin-top: 16px;
}
.detail-1 .quan-1:nth-child(4){
    margin-top: 16px;
}
.shuru{
    width: 82.7%;
    height: 80px;
    background-color: #f1f1f1;
    border-radius: 8px;
    border: solid 1px #e1e1e1;
    padding-left: 4.5%;
    padding-top: 13.5px;
    font-size: 10px;
    box-sizing: border-box;
    margin-bottom: 57px;
}
.details-2{
    background-color: #fff;
    padding-left: 13.3%;
}
.refund a{
    display: block;
    width: 100%;
    height: 49px;
    background-color:  #00b8ee;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 49px;
}

.mengban{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.refund{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    word-break: break-all;
    z-index: 100010;

}

.mask-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.tips{
    width:255px;
    height: 156px;
    background-color:#fff;
    border-radius: 10px;
    position: fixed;
    display: none;
    top: 32%;
    left: 50%;
    z-index: 999;
    margin-left: -127.5px;
    text-align: center;
}

.tips-text1{
    font-size: 18px;
    color: #000000;
    margin-top: 25px;
}
.tips-text2{
    font-size: 18px;
    color: #414141;
    margin-top: 15px;
}
.tips-button{
    border-top: 1px solid#e6e6e6;
    position: relative;
    font-size: 15px;
    color: #3175f3;
    height: 50px;
    top: 15px;
}
.tips-cancle{

    width: 127.5px;
    height: 50px;
    float: left;
    padding-top: 18px;
}
.tips-confirm{
    width: 127.5px;
    height: 50px;
    float: left;
    padding-top:18px;

}

.tip-line{
    height: 50px;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 0px;
    background-color: #e6e6e6;
}




.dim{/*默认是灰色的星星*/
    float: left;
    width: 20px;
    height: 20px;
    background: url('http://zxyp.hzbixin.cn/files/39051600419549506.jpg');
    background-size: 100%;
}




.highlight{/*评论是几就会点亮几颗星星*/
    float: left;
    width: 20px;
    height: 20px;
    background: url('http://zxyp.hzbixin.cn/files/60411600419585789.jpg');
    background-size: 100%;
}
.order-load-btn{
    display: none;
    width: 100%;
    height: 2rem;
    text-align: center;
    /*    background-color: #ffffff;*/
}
.order-load-btn a{
    font-size: .75rem;
    color: #414141;
}

.report{ text-align: center; margin:20px 0; }
.report img{ width:50%;}
.report p{ margin-bottom:5px; font-size:15px;}
.report a{color: #0894ec;}
.tc{ text-align: center}
.goods-content{
    margin-bottom:10px; 
}
.goods-but{
    height:auto;
    width:100%; 
    background-color: #ffffff;
    position: relative;
    text-align: right;
    padding:0 2%;
}
 .but-bd{
    border-radius:4px;
    border:1px solid #666;
    text-align: center;
    margin: 8px 0 8px 8px;
    padding:1px 8px; 
    font-size:13px;
    background: #fff;    
}
.huo{
    border:1px solid #ff0000;
    color:  #ff0000; 
}
.Fillin{
    border: 1px solid #f00;
    color: #f00;
}