body{
	font-size: 12px;
	background: #efeff4;
}
.sc-calendar {
	width: 100%;
	text-align: center;
	font-family: "Microsoft Yahei";
	color: #4A4A4A;
	background-color: white;
	font-size: 10px;
}
.sc-body.showmonth5{
	overflow: hidden;
}
.sc-body.showmonth6{
	height: 6.92rem;
}

.sc-header {
	background-color: #ee6612;
	width: 100%;
	height: 1.55rem;
}

.sc-title {
	height: 1rem;
	border-bottom: 0;
	color: white;
	padding: 0.3rem 0.4rem;
}
.year {
	float: left;
	position: relative;
	font-size: 15px;
    margin-left: 2.5rem;
}

.month {
	float: right;
/*	position: relative;*/
	box-sizing: border-box;
	font-size: 15px;
}

.monthdiv {
	position: relative;
	top: -1px;
	display: inline-block;
	min-width: 1.3rem;
    text-align: left;
    margin-right: 1.7rem;
}

.month .arrow {
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
}

.sc-mleft {
	background: url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/arrowLeftCircle.png) center top no-repeat;
	background-size: 100% 100%;
	width: 0.4rem;
	height: 0.4rem;
    position: absolute;
    left: .5rem;
    top: 0.33rem;
}

.sc-mright {
	background: url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/arrowRightCircle.png) center top no-repeat;
	background-size: 100% 100%;
	width: 0.4rem;
	height: 0.4rem;
    position: absolute;
    right: .5rem;
    top: 0.33rem;
}

.year span {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "Microsoft Yahei";
	color: white;
}


.sc-body {
	height: 5.7rem;
	clear: both;
}

/*星期*/
.sc-week {
	height: 0.55rem;
	font-weight: 400;
	font-size: 10px;
	line-height: 0.55rem;
	color: #4A4A4A;
}

.sc-week-item {
	height: 100%;
	float: left;
	width: 14.285%;
	color: white;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*日*/
.sc-days {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sc-item {
	width: 13.5%;
	height: 1.1rem;
	float: left;
	color: #565555;
	background-color: #ffffff;
	box-sizing: border-box;
	margin: 0.39%;
	
}

.sc-item .day {
	font-size: 16px;
	color: #333333;
	font-weight: normal;
	line-height: 0.45rem;
}
.sc-item .lunar-day {
	font-size: 9px;
	line-height: 0.24rem;
	color: #b2b2b2;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sc-item-small {
	font-size: 0.416666rem !important;
}
.item-nolunar {
	padding-top: 0.833333rem;
}

.sc-vocation {
	background-color: #FFEBEC;
}

.sc-mark {
	background-color: #E5FBFA;
}
.mark{
	/*background: url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/blueBg.png) center center no-repeat;
	background-size: 0.88rem 0.88rem;*/
	height: 0.16rem;
	font-size: 14px;
	color: rgba(241, 43, 43, 1);
}
.sc-mark-show {
	visibility: visible;
}

.sc-mark-hide {
	visibility: hidden;
}

.sc-vocation:before {
	content: '休';
	display: block;
	position: absolute;
	font-size: 0.7em;
	width: 1.2em;
	font-weight: 100;
	color: white;
	background-color: #E00808;
	margin-top: -0.416666rem;
}
.sc-premonth , .sc-nextmonth {
	color: #C1C0C0 !important;
}

.sc-premonth .day , .sc-nextmonth .day,
.sc-premonth .day, .sc-nextmonth .lunar-day {
	color: #C1C0C0 !important;
}

.sc-active-day{
/*	background: url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/calendar_bg.png) center center no-repeat;*/
	background-size: 0.88rem 0.88rem;
	background: cover;
}
.sc-today {
	background: url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/calendar_bg.png) center center no-repeat;
	background-size: 0.88rem 0.88rem;
/*	color: white;*/
}

.sc-today .day {
/*	color: white !important;*/
}
.sc-today .lunar-day{
/*	color: white;*/
}
.sc-festival .lunar-day {
	color: #E00808;
}

.btnBox{
	width: 100%;
	padding: 0.5rem 0.4rem;
	background: white;
}
.returnBtn{
	display: block;
	width: 100%;
	height: 0.8rem;
	text-align: center;
	background: #4e9fee;
	color: white;
	font-size: 15px;
	line-height: 0.8rem;
	border-radius: 0.08rem;
}

.signIn-btn{
    width: 100%;
    height: .9rem;
    padding: 0 .2rem;
    position: absolute;
    bottom: 0;
    margin-bottom: .2rem;
}
.signIn-btn a{
    display: block;
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    border-radius: .1rem;
    text-align: center;
    font-size: .3rem;
    color: #ffffff;
    background-color: #ee6612;
}
.sign-mask{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    opacity: 0.3;
    position: fixed;
    top: 0;
    display: none;
}
.question-wrap{
    position: absolute;
    width: 86.666%;
    top: 50%;
    height: 7rem;
    margin-left: 6.3%;
    margin-top: -3.5rem;
    background-color: #ee6612;
    border-radius: .1rem;
    display: none;
}

.question-wrap .aw{
    width: 61.538%;
    height: 1rem;
    margin: 0 auto .3rem;
    border-radius: .1rem;
    text-align: center;
    line-height: 1rem;
}
.question-wrap .aw span{
    font-size: .3rem;
    color: #414141;
}
.question-wrap .aw{
	background-color: #ffffff;
}
/*.question-wrap .aw:nth-of-type(1){
    background-color: #ffffff;
}
.question-wrap .aw:nth-of-type(2){
    background: url("http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/quest_wrong.png") no-repeat 92% 50% #f23030;
    background-size: 7% 25%;
}
.question-wrap .aw:nth-of-type(3){
    background: url("http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/quest_right.png") no-repeat 92% 50% #31ac4e;
    background-size: 7% 25%;
}
.question-wrap .aw:nth-of-type(4){
    background-color: #ffffff;
}*/
.question-title{
    font-size: .3rem;
    color: #ffffff;
    text-align: center;
    margin-top: .4rem;
    margin-bottom: .4rem;
}
.aw-success{
    position: absolute;
    top: 50%;
    margin-top: -3rem;
    margin-left: 11.2%;
    width: 77.333%;
    height: 6rem;
    border-radius: .1rem;
    text-align: center;
    display: none;
}
.aw-success .aw-title{
	font-size: .4rem;
	color: #ffffff;
	position: absolute;
	margin-top: .35rem;
	width: 100%;
	text-align: center;
}
.aw-success .aw-bg{
    width: 100%;
}
.aw-success .aw-cancel{
    width: .8rem;
    margin-top: .8rem;
}
.aw-success .signIn-suc{
    position: absolute;
    font-size: .32rem;
    width: 100%;
    top: 2.5rem;
    color: #414141;
}
.signed{
    background-color: #ee6612;
    border-radius: 50%;
}