body{ background: #fff;}
.bargain-top{
    position: relative;
    width:100%;
    overflow: hidden;
}   
   .bidprice-advert img{ width:100%; height:2.5rem;}
   .infinite-scroll-preloader{margin:.3rem;text-align:center}
   .infinite-scroll-preloader .preloader{width:0.65rem;height:0.65rem; margin:0 auto;}
   .preloader:after{
       display:block;
       width:100%;
       height:100%;
       content:"";background-image:url(http://webh5.wangjiangwei.top/01-project/03-hzbixin/09-zxyp/01-wx_public_h5/code/img/load.gif);
       background-repeat:no-repeat;
       background-size:100%;
}
/**积分夺宝列表**/
.treasure-list{
    border-bottom: 1px solid #e6e6e6; 
    width:100%;
    height:auto;
    text-align:left;
    padding-bottom:2px;  
}
.treasure-list:last-child{
    border: 0;
}
.treasure-list figure{
    margin:0 0 0.1rem;
    padding:0 8px; 
    width:100%;
    
}
.treasure-list img{
    width:100%;
    height:2.8rem; 
}
.treasure-bot{
    padding:0 8px; 
}
.treasure-bot p{
    margin:0; 
    padding:0; 
}
.treasure-bot .c1{
    color:#f00;
    margin-right:8px; 
  
}
.treasure-bot .f1{
    font-size:13px; 
}
.treasure-bot .c2{
    color:#aaaaaa;
    font-size:12px; 
    margin-bottom:3px;
   
}
.fr{  float:right;}
.treasure-bot .progress{
    width:100%;
    height:5px;
    border-radius:5px;
    margin:3px 0;
    background:#e1e1e18c;
}
.progress-bar{
    height:100%;
    border-radius: 10px;
    background: #f00;  
}